<ion-view title="About RYM" id="page4" style="background-color:#14223C;">
  <ion-content padding="true" class="has-header">
    <h3 id="aboutRYM-heading6" style="color:#FFFFFF;">Renew. Reinvigorate. Reconnect. </h3>
    <h4 id="aboutRYM-heading4" style="color:#FFFFFF;">Respect Your Mother is an app designed to reconnect you with your planet, your fellow humans, and yourself. </h4>
    <h4 id="aboutRYM-heading5" style="color:#FFFFFF;">Fnd a clean-up effort near you, or create one instantly. Get your friends and family involved, and most of all: have fun! </h4>
    <div>
      <img src="img/UpLmrAiESGansnsfxryd_earth.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>