<ion-view title="Create A Cleanup" id="page3" style="background-color:#14223C;">
  <ion-content padding="true" class="has-header">
    <h1 id="createACleanup-heading3" style="color:#FFFFFF;">create a cleanup event in your neighborhood.</h1>
    <div class="spacer" style="width: 300px; height: 46px;"></div>
    <form id="createACleanup-form2" class="list">
      <label class="item item-input" id="createACleanup-input3">
        <input type="text" placeholder="location">
      </label>
      <label class="item item-input" id="createACleanup-input4">
        <input type="text" placeholder="date">
      </label>
      <label class="item item-input" id="createACleanup-input5">
        <input type="text" placeholder="description">
      </label>
    </form>
    <a ui-sref="tabsController.confirmation" id="createACleanup-button2" class="button button-positive  button-block">Create!</a>
  </ion-content>
</ion-view>